@import 'tailwindcss';

:root{
    --bg-color: hsl(0, 0%, 6%);
    --text-color: hsl(208, 100%, 95%);
    --sec-text-color: hsla(208, 100%, 95%, 0.507);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

p, a, li, span, div {
    font-weight: 400;
}
